*{
    background:#121414;
}

body{
    display:flex;
    flex-direction:column;
    text-align:center;
    align-items: center;
}

.header{
    color:#B0B0B0;
    font-family: sans-serif;
    font-style: oblique;
}

#game{
    border:solid #B0B0B0 1px;
}